<h1>Add a Dish!</h1>
<form method="post" action="dishes">
  <label>Dish Name:</lable>
    <input type="text" name="name">

  <% Chef.all.each do |chef %>
    <label><%= chef.name %></label>
    <input type="checkbox" name="chefs[]" value="<%= chefs.id %>" id="<%= chefs.name %>" <%='checked' if @dish.chefs.include?(chef) %>>
  <% end %>

</form>
