<h2>The simple place to let people know what you can cook</h2>

  <% if logged_in? %>

     <p>Welcome, <%=current_user.username%></p><br>
     <a href="/dishes/new"> Create Dish </a>

   <% else %>
    <h2>Welcome, New User</h2>
     <a href="/signup">Sign Up</a>
     <a href="/login"> Sign In </a>
   <%end %>
