<!doctype html>
<html>
  <head>
    <title>Chefs Club</title>
  </head>
  <body>

    <div class="container">
      <h1>Chefs Club</h1>
      <%= yield %>

      <%if logged_in?%>
        <a href="/logout"> Log Out </a>
      <%end%>
    </div>

  </body>
</html>
